body {
    display: flex;
    justify-content: center;
}

.calculator-container {
    padding: 48px 32px;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    
}

/*.display-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid grey;
    height: 48px;
    border-radius: 8px;
    line-height: 15px;
}
*/
.display-container {
    font-weight: 600;
    border: 2px solid yellow;
    border-radius: 8px;
}

.primary-display, 
.secondary-display {
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 8px;
}

.primary-display {
    border: 2px solid blue;
    height: 24px;
    font-size: 24px;
}

.secondary-display {
    border: 2px solid pink;
    height: 18px;
    color: gray;
}

button {
    height: 48px;
    width: 48px;
    border: 2px solid;
    border-radius: 8px;
    margin: 4px;
    font-size: 18px;
    font-weight: 400;
}

.button-red {
    border-color: red;
}

.button-blue {
    border-color: blue;
}

.button-grey {
    border-color: lightgrey;
}

